@model DisplayExpressionOfInterestsViewModel

@{
    ViewData["Title"] = "Expression of Interests";
}

<h1>Expression of Interests</h1>

@if (!Model.Properties.Any())
{
    <p>No expression of interests yet.</p>
}
<a class="btn btn-warning mb-3" asp-controller="UserOptions" asp-action="Index">Back</a>

<hr />
<partial name="_ListPropertiesPartial" />