@{
    ViewData["Title"] = "User Options";
}

<h1>User Options</h1>

<a asp-controller="UserOptions" asp-action="UpdateProfile">Update profile info</a>
<br>
<a asp-controller="UserOptions" asp-action="DisplayExpressionOfInterests">Expression of Interests</a>