@inject SignInManager<ApplicationUser> signInManager;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h2 class="display-4">Welcome, @User.Identity.Name</h2>
        <p>You are signed in, dude.</p>
    </div>
}
else
{
    <div class="text-center">
        <h2 class="display-4">Welcome, random stranger</h2>
        <p>Would you like to buy some.... properties?</p>
    </div>
}
<hr />

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Filter" asp-action="Search">Search for your dream goathome of your dreams HERE</a>
    <hr />
</div>

<div>
    <h4>Top Viewed Houses</h4>
    @{ Model.Properties = Model.Top3Viewed; }
    <partial name="_ListPropertiesPartial" />
    <hr />
</div>

<div>
    <h4>Thiccest Houses</h4>
    @{ Model.Properties = Model.Top3Size; }
    <partial name="_ListPropertiesPartial" />
    <hr />
</div>

<div>
    <h4>$$$ Houses</h4>
    @{ Model.Properties = Model.Top3Price; }
    <partial name="_ListPropertiesPartial" />
</div>
