
@{
    ViewData["Title"] = "SeedData";
}
<h1>Klicka på the button för att seed the data</h1>
<form method="post" asp-controller="Seed" asp-action="SeedData">
    <button type="submit" class="btn btn-primary">Seeda</button>
</form>
