<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Properties" asp-action="Index">My properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="EstateAgentOptions" asp-action=""> </a>
    </li>
</ul>