@{
}

<div>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
        Logout
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Do you really want to logout?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                                    
                <!-- Modal body -->
                <div class="modal-body">
                    @* Formulär för att få logout att bli en html-post (av säkerhetsskäl). *@
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No!</button>
                </div>
                                    
                <!-- Modal footer -->
                <div class="modal-footer">
                </div>

            </div>
        </div>
    </div>
</div>