@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<div class="row">
    <div class="col-md-6">
        <h1>Login</h1>
        <hr />
        <form method="post">

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="form-group">
                <input asp-for="RememberMe" class="form-control" />
                <label asp-for="RememberMe"></label>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            if(Model.ExternalLogins.Count == 0)
            {
                <div>No external logins configured</div>
            }
            else
            {
               <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary"
                                    name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }  
     </div>
</div>

