@using HomeFinder.Data
@model PropertySummaryViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model == null)
{
   <p>There are no properties!</p> 
}
else
{

    <partial name="_ListPropertiesPartial" />


  
}